WHBillContrast/Web References/WHBillContrastWS/webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mflex.com.cn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mflex.com.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mflex.com.cn/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:ResultObj" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultMesg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CanLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CanLoginResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:ResultObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:ResultObj" />
            <s:element minOccurs="0" maxOccurs="1" name="SMS_VENDORVWAREobjS" type="tns:SMS_VENDORVWAREobj" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SMS_VENDORVWAREobj">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="VQTY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="VCUSTOMERPN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VMPN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VCOOCN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WQTY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WCUSTOMERPN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WMPN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WCOOCN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OPERATORS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertLogResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:ResultObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CanLoginSoapIn">
    <wsdl:part name="parameters" element="tns:CanLogin" />
  </wsdl:message>
  <wsdl:message name="CanLoginSoapOut">
    <wsdl:part name="parameters" element="tns:CanLoginResponse" />
  </wsdl:message>
  <wsdl:message name="InsertLogSoapIn">
    <wsdl:part name="parameters" element="tns:InsertLog" />
  </wsdl:message>
  <wsdl:message name="InsertLogSoapOut">
    <wsdl:part name="parameters" element="tns:InsertLogResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CanLogin">
      <wsdl:input message="tns:CanLoginSoapIn" />
      <wsdl:output message="tns:CanLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertLog">
      <wsdl:input message="tns:InsertLogSoapIn" />
      <wsdl:output message="tns:InsertLogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://mflex.com.cn/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanLogin">
      <soap:operation soapAction="http://mflex.com.cn/CanLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLog">
      <soap:operation soapAction="http://mflex.com.cn/InsertLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://mflex.com.cn/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanLogin">
      <soap12:operation soapAction="http://mflex.com.cn/CanLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLog">
      <soap12:operation soapAction="http://mflex.com.cn/InsertLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://mycmesflexpda.mflex.com.cn/whbillcontrastws/webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://mycmesflexpda.mflex.com.cn/whbillcontrastws/webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>